* {
    box-sizing: border-box;
    padding: 10px; 
}

#results-container {
    display: flex;
    flex-wrap: wrap; 
    /* flex: 1 1 auto; */
    /* padding: 30px; */
    /* width: 50%; */
    /* text-align: center; */
    /* text: flex-wrap; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* width: 100px; */
    /* height: auto; */
    /* justify-content: space-between; */
}

.each-box {
    /* display: flex; */
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 200px;
    /* flex-wrap: wrap: */
}